{% extends "layout.html" %}
{% block main%}
    <h1 class="text-center mb-4">The available services in the business</h1>
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">


            {% for service in services %}
                <tr>
                    <input type="hidden" name="service_id" value="{{service.id}}">
                    <td>{{service.name}}</td>
                    <form action="/add" method="POST">
                    <td>
                        <button type="submit" class="btn-edit">add</button>
                    </td>
                    </form>
                </tr>
            {% endfor %} 

        </table>
    </div>
{% endblock %}