{% extends "layout.html" %}
{% block main%}
    <h1 class="text-center mb-4">The available services in your business</h1>
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <tr>
                <th>The service</th>
                <th>How long it take's</th>
                <th>Edit</th>
            </tr>

            {% for service in services %}
                <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.duration_min}}</td>
                    <form action="/available_services" method="POST">
                    <td>
                        <button type="submit" class="btn-edit">edit</button>
                    </td>
                    </form>
                </tr>
            {% endfor %} 

        </table>
    </div>
{% endblock %}

