{% extends "layout.html" %}
{% block main%}
<form action="/register" method="POST">
    <div class="center">
        <input type="email" id="email"  placeholder="Your user email account" name="email">
        <input type="text" id="username"  placeholder="Your user name"  name="username">
        <input type="password" id="password" placeholder="your password" name="password">
        <input type="password" id="confirm" placeholder="Confirm your password" name="confirm">
        <button type="submit">submit</button>
        {% if error %}
            <p style="color:red";>{{ error }}</p>
        {% endif %}
    </div>
</form>
{% endblock %}

