{% extends "layout.html" %}
{% block main%}
<form action="/b_appointments" method="POST">
    <h1 class="text-center mb-4">Your appointments</h1>
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <tr>
                <th>Service</th>
                <th>Provider</th>
                <th>Date</th>
                <th>Time</th>
            </tr>

            {% for appointment in appointments %}
                <tr>
                    <td>{{appointment.name}}</td>
                    <td>{{appointment.provider}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.hour}}:{{appointment.min}}</td>

                </tr>
            {% endfor %} 

        </table>
    </div>
</form>
{% endblock %}

